.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.nav-text-icon {
    display: inline-flex;
    align-items: center;
  }
  
  .chevron-icon {
    margin-left: 5px; /* Khoảng cách giữa văn bản và biểu tượng */
    width: 16px;      /* Đặt kích thước phù hợp cho biểu tượng */
    height: 16px;
  }